body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4424 {
  position:absolute;
  left:10px;
  top:10px;
  width:1920px;
  height:70px;
}
#u4425 {
  position:absolute;
  left:2px;
  top:27px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4426 {
  position:absolute;
  left:19px;
  top:31px;
  width:217px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4427 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u4428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:705px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4428 {
  position:absolute;
  left:10px;
  top:80px;
  width:250px;
  height:705px;
}
#u4429 {
  position:absolute;
  left:2px;
  top:344px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4430 {
  position:absolute;
  left:68px;
  top:113px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u4431 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4710px;
  height:5936px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4432 {
  position:absolute;
  left:0px;
  top:924px;
  width:4710px;
  height:5936px;
}
#u4433 {
  position:absolute;
  left:2px;
  top:2960px;
  width:4706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4434 {
  position:absolute;
  left:93px;
  top:1011px;
  width:497px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4435 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u4436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4436 {
  position:absolute;
  left:38px;
  top:997px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u4437 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u4438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4438 {
  position:absolute;
  left:38px;
  top:2418px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u4439 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u4440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:356px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4440 {
  position:absolute;
  left:339px;
  top:202px;
  width:683px;
  height:356px;
}
#u4441 {
  position:absolute;
  left:2px;
  top:170px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4442 {
  position:absolute;
  left:359px;
  top:216px;
  width:115px;
  height:16px;
  color:#999999;
}
#u4443 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u4444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4444 {
  position:absolute;
  left:492px;
  top:583px;
  width:300px;
  height:32px;
}
#u4445 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u4446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4446 {
  position:absolute;
  left:339px;
  top:130px;
  width:683px;
  height:47px;
}
#u4447 {
  position:absolute;
  left:2px;
  top:16px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4448 {
  position:absolute;
  left:359px;
  top:144px;
  width:99px;
  height:16px;
  color:#999999;
}
#u4449 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u4450 {
  position:absolute;
  left:1045px;
  top:141px;
  width:149px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u4451 {
  position:absolute;
  left:0px;
  top:2px;
  width:147px;
  white-space:nowrap;
}
#u4452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u4452 {
  position:absolute;
  left:1045px;
  top:202px;
  width:159px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u4453 {
  position:absolute;
  left:0px;
  top:2px;
  width:157px;
  white-space:nowrap;
}
